.yt--container {
	text-align: center;
	margin: 0;
	padding: 0;
	width: auto;
}

.yt--input-url{
	background-color: #F8F8F8 ; 
	color: black;
	font-size: 18px;
	height: 20px;
	margin: 0 5px 5px 0;
	padding: 9px 15px 5px 15px;
	width: 600px;
	background-color: rgba(255, 255, 255, 0.5);

	&:hover{
		border-color: #3183C7;
	}
}


.yt--button{
	border: 3px solid #8E4600;
    background: transparent;
    height: 40px;
    width: 40px;
    color: #000;
    text-align: center;
    border-radius: 50%;
    float: center;
    font-size: 12px;
   	background-color: rgba(255, 255, 255, 0.5);
 

    &:active {
    	position:relative;
		top:1px;
    }

    &:focus {
    	outline-style: none;
    }
}

.yt--wrapper{
  background: white;
  margin: 35px auto;
  width: 800px;
  height: 100px;
  position: relative;

}

.yt--form {
	width: 100%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	height: 102px;
	margin-left: 0px;
	margin-top: 5px;
	padding-left: 0px;
	padding-top: 0px;
	width: auto;
}

.yt--iframe {
	width: auto;
	clear: both;
	padding-top: 25px;
}

.yt--videoThumbnail {
	display: inline;
	list-style-type: none;
	padding-right: 44px;
		-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.yt--videoThumbnailList {
	display: inline-block;
}

.yt--body {
	background-image: url(../images/ytback.jpg);
	overflow: auto;
}

.yt--thumbnail-container {
	text-align: center;
}

.yt--thumbnail-span {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #D0F8FF;
	clear: both;
	width: 100%;
}

.yt--thumbnail-content {
	width: 100%;
}
